.header {
    grid-area: header;
    justify-self:center;
}
nav    {
    background-color: chocolate;
    grid-area: sidebar;
    justify-self:center;
    font-family: cursive;
}
nav:hover{
    background-color: blue;
  }
.content    {
    grid-area:content;
    justify-self: end;
    font-family: cursive;
}
.footer {
    grid-area:footer;
}
body  {
    display:grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas:
    ". . header ."
    "sidebar . . ."
    ". . . content "
    "footer footer footer footer";

}
body{
    background-color:salmon;
    color:blanchedalmond
}
